<h1>All Employees</h1>

<%= link_to 'Add Employee' , new_employee_path %>

<table class=" font-bold">
  <tr>
    <td></td>
    <td>Goodjob</td>
    <td>Name</td>
    <td>Age</td>
    <td>Tel</td>
    <td>Email</td>
    <td>Intro</td>
    <td>Action 1</td>
    <td>Action 2</td>
  </tr>



<%= render partial: "employee", collection: @employees %>

  <!-- <%# <% @employees.each do |employee| %> 
    <%# <%= render 'employee', employee: employee %> 
  <%# <% end %>  -->

</table>
